
<html>
    <head>
        <title>
            Temporary Matplotlib Testing
        </title>
    </head>
    <body style="background-color:rgb(58, 124, 133);">
        <center>
            <img src="data:image/png;base64, {{LoadDiagram|safe}}" height="500">
            <h1></h1>
            <img src="data:image/png;base64, {{ReactionsDiagram|safe}}" height="500">
            <h1></h1>
            <img src="data:image/png;base64, {{SFD|safe}}" height="500">
            <h1></h1>
            <img src="data:image/png;base64, {{BMD|safe}}" height="500">
            <h1></h1>
            <img src="data:image/png;base64, {{Displacement|safe}}" height="500">
        </center>
    </body>
</html>
